<%- include('head'); %>
<nav id = 'navbarLight'>
    <a href="/myProfile"><h3><%- profileName %></h3></a>
    <a href="/notifies">Notifies</a>
    <a href="/messeges">Messeges</a>
    <a href="/logout">Logout</a>
</nav>