<script src="/scripts/createUser.js" defer></script>
<%- include('../partials/head.ejs'); %>
<body>
    <div id="loginMain">
        <div class="userIdentify">
            <form id="formCreateUser">
                <label for="username">Name:</label>
                <input type="text" name="username">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="example@email.com">
                <label for="password">Password:</label>
                <input type="password" name="password" id="">
                <div><button>Create Acount</button></div>
            </form>
        </div>
    </div>
</body>
