<%- include('../partials/head'); %>
<body>
    <div style="background-color: #33669985; display: flex; align-items: center; justify-content: center; height: 100vh;">
        <h2 style="color: white;">Perfil criado com sucesso! Clique <a href="/">aqui</a> para ser redirecionado!</h2>
    </div>
</body>